div{
background-color: hsl(0, 0%, 100%);
border-radius: 5%;
padding: 10px 4px 5px 4px;
margin: 20px;
image-rendering: center;
width: 230px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top:100px;
margin-bottom: auto;
font-family: 'Cairo', sans-serif;
font-family: 'Outfit', sans-serif;
text-align: center;


}

body{
    background-color:hsl(220, 15%, 55%);
}


img.ht{
    width: 220px;
    height: 210px;
    border-radius:5%;
}

p{
    Font-size : 15px;
    color: hsl(212, 45%, 89%);
    padding: 0px 15px 0px 15px;
}

h3{
    Font-size : 15px;
    padding: 0px 20px 0px 20px;

}
@media screen and (main width: 375px){
    
}

@media screen and (main width: 1440px){
    
}



